Please sign in. <br>
<br>
<form action = <%= session_url %> method = 'POST' >
  <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">

  <label for 'email_label'>Please provide an email</label>
  <input type = 'text' name = user[email] id = 'email_label'>
  <br>
  <label for 'password_label'>Please provide a password</label>
  <input type = 'password' name = user[password] id = 'password_label'>

  <input type="submit", value="Log In">
</form>