<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.email %></h1>
    <p>
      You have requested to reset your password.  Please click on the link to reset it: <%= @url %>
      <br>
    </p>
  </body>
</html>