This is the Index Page. <br>
<br>
You are logged in as <%= current_user.email %>
<br>
Below is a list of all friend circles:<br>
<%@friend_circles.each do |friend_circle|%>
<%= friend_circle.name %><br>
<%end%>