<form action = <%= friend_circles_url %> method = 'POST' >
  <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">

  <h2>Please create your circle</h2>
  <% @users.each do |user|%>
  <label for = "<%= user.email %>"> <%= user.email %></label>
    <input type = 'checkbox' name = "user[id][]" value = "<%= user.id %>" id = "<%=user.email %>" > <br>
  <% end %>


  <label for 'Circle Name'>Please give your cirlce a name:</label>
  <input type = 'text' name = 'friend_circle[name]' id = 'Circle Name'>

  <input type="submit", value="Create Circle">
</form>