Please update your password <br>
<br>
<form action = <%= user_url(current_user.id) %> method = 'POST' >
  <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">
 <input type = "hidden" name= "_method" value = "PUT" >

   Email: <%= current_user.email %>
  <br>
  <label for 'password_label'>Please provide a password</label>
  <input type = 'password' name = user[password] id = 'password_label'>

  <input type="submit", value="Change Password">
</form>