<form action = <%= post_url %> method = 'POST' >
  <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">

  <h2>Make a post</h2>
  <% @friend_circles.each do |circle|%>
  <label for = "<%= circle.name %>"> <%= circle.name %></label>
    <input type = 'checkbox' name = "friend_circle_id[]" value = "<%= circle.id %>" id = "<%=circle.name %>" > <br>
  <% end %>


  <label for="postbody"> Please post your post: </label>
  <textarea name = "post[body]" id="postbody"></textarea>



  <% 3.times do |i| %>
  <label for="link<%= i %>">Link <%= i %> </label>
  <input type="text" name="links[<%= i %>][link]" id="link<%=i%>" >
  <%end>

  <input type="submit", value="Create post">
</form>