<!DOCTYPE html>
<html>
<head>
  <title>SocialThingamajig</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:error] %>
  <% flash[:error].each do |error| %>
  <%= error.full_messages %>
  <br>
  <%end%>
  <%end%>

<%= yield %>

</body>
</html>
